@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
:root {
  --primary-color: #252b42;
  --para-color: #737373;
}
.contactBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  width: 100%;
  height: 58px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 0 35px;
}
.contactInfo {
  display: flex;
  gap: 25px;
}
.followUs {
  display: flex;
  gap: 10px;
}
.socials i {
  padding: 0 5px;
  font-size: 16px;
}
.phoneNumber:hover,
.emailAddress:hover,
.socials i:hover,
.socialsContainer i:hover,
.advertisementContent p:hover {
  color: orange;
}
.pointer {
  cursor: pointer;
}
.navbarContainer {
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
  z-index: 100;
}
.navbarLogo {
  padding: 30px;
}
.navbarLogo p {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  padding-right: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}
.navLinks {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navLinks li {
  padding: 0 15px;
  color: #333;
}
.navLinks li a {
  color: var(--para-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}
.navLinks li a:hover {
  color: #007bff;
  transform: scale(1.1);
}
.functionalities {
  display: flex;
  align-items: center;
  text-align: center;
  color: #23a6f0;
  gap: 30px;
  transition: background-color 0.3s ease;
}
.functionalities div:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 5px;
}
.userDetails span {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.cart small,
.likes small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.heroContainer {
  width: 100%;
  background: url("images/hero.jpeg");
  background-repeat: no-repeat;
  background-position: center calc(50% + 20px);
  background-size: cover;
  color: white;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px 0;
  transition: all 0.5s ease-in-out;
}
.heroContent {
  position: absolute;
  top: 30%;
  left: 15%;
}
.heroContent h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.heroContent h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  padding: 30px 0;
}
.tagline {
  max-width: 380px;
}
.heroContent p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  padding-bottom: 35px;
}
.heroContent .btn {
  display: inline-block;
  background: #2dc071;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 700;
  transition: background-color 0.3s;
  border-radius: 5px;
}
.heroContent .btn:hover,
.careButtonContainer .btn:hover {
  background-color: #28a063;
}
.prev,
.next,
.adNext,
.adPrev {
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  padding: 40px;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}
.prev,
.adPrev {
  left: 20px;
}
.next,
.adNext {
  right: 20px;
}
.sliderButtons,
.adSliderButtons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.sliderBtn,
.adSliderBtn {
  width: 50px;
  height: 10px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.active {
  background-color: #2dc071;
}
.categories {
  padding: 80px 0;
  background: #fafafa;
}
.categoriesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 125px;
}
.categoriesContent h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.categoriesContent p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--para-color);
  margin-bottom: 50px;
}
.imagesContainer {
  width: 70%;
  margin: auto;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
}
.imagesContainer div {
  position: relative;
}
.firstItem img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.firstItem span {
  position: absolute;
  left: 30px;
  bottom: 50px;
  background-color: white;
  padding: 12px 65px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}
.secondItem img {
  width: 240px;
  height: 500px;
  object-fit: cover;
}
.secondItem span {
  position: absolute;
  bottom: 25px;
  left: 20px;
  padding: 12px 33.5px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}
.thirdItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.thirdItem img {
  width: 240px;
  object-fit: cover;
  height: 240px;
}
.thirdItem span {
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}
.thirdItem .third {
  padding: 12px 26px;
  position: absolute;
  bottom: 300px;
  left: 20px;
}
.thirdItem .fourth {
  padding: 12px 40px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.featuredProducts {
  padding-top: 80px;
  text-align: center;
}
.featuredHeading h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--para-color);
}
.featuredHeading h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--primary-color);
  padding: 10px 0;
}
.featuredHeading p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--para-color);
}
.productsContainer {
  width: 70%;
  margin: auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
}
.singleProduct img {
  max-width: 240px;
  height: 430px;
}
.singleProduct:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.productInfo {
  padding-top: 25px;
}
.productInfo h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}
.productInfo h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 0;
  color: var(--para-color);
}
.productInfo p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #bdbdbd;
}
.productInfo span {
  color: #23856d;
}
.colorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 35px;
  gap: 5px;
}
.colorContainer div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.color1 {
  background-color: #23a6f0;
}
.color2 {
  background-color: #23856d;
}
.color3 {
  background-color: #e77c40;
}
.color4 {
  background-color: #252b42;
}
.mainAdvertisement {
  width: 100%;
  height: auto;
  background-color: #23856d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  padding-top: 112px;
  gap: 30px;
  transition: all 0.5s ease-in-out;
}
.advertisingContent {
  width: 500px;
}
.mainHeading h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.2px;
  padding: 20px 0;
}
.advertisingContent h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.mainPara {
  max-width: 350px;
}
.mainPara p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 20px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.buttonContainer p {
  font-size: 24px;
  font-weight: 700;
}
.buttonContainer .btn {
  padding: 15px 40px;
  background-color: #2dc071;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.buttonContainer .btn:hover {
  background-color: #28a063;
}
.advertisingImage img {
  width: 100%;
  max-width: 450px;
  height: 650px;
  object-fit: cover;
}
.careSection {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}
.careImg img {
  max-width: 750px;
  height: auto;
}
.careContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.careContent h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #bdbdbd;
}
.careContent h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: var(--primary-color);
  padding: 15px 0;
}
.careContent p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  width: 400px;
  color: #737373;
  padding: 30px 0;
}
.careButtonContainer .btn {
  background: #2dc071;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  margin-right: 10px;
}
.careButtonContainer .readMore {
  border: 1px solid #2dc071;
  color: #2dc071;
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  background-color: white;
}
.featuredContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px;
  text-align: center;
}
.featuredContent p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #23a6f0;
}
.featuredContent h1 {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  padding: 10px 0;
}
.featuredContent h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #737373;
  width: 470px;
}
.postsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 120px;
  width: 90%;
  margin: 0 auto;
}
.postImage img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.postImage {
  position: relative;
}
.postImage h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  background-color: #e74040;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.postContent {
  padding: 25px 0 10px 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.postTag {
  display: flex;
  gap: 10px;
}
.postTag .activeTag {
  color: #8ec2f2;
}
.postTag small {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #737373;
}
.postContent h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #252b42;
  padding: 10px 0;
}
.postContent p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #737373;
  width: 280px;
}
.timeComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 15px 0;
}
.timeDiv i {
  color: #23a6f0;
  padding-right: 5px;
  width: 16px;
  height: 16px;
}
.commentDiv i {
  color: #23856d;
  padding-right: 5px;
  width: 16px;
  height: 16px;
}
.timeDiv span,
.commentDiv span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #737373;
}
.learnMoreDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}
.learnMoreDiv h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #737373;
}
.learnMoreDiv i {
  color: #23a6f0;
}
.footerContainer {
  height: 500px;
  background-color: #fafafa;
}
.companyLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  height: 110px;
}
.brandName h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #252b42;
}
.socialsContainer {
  display: flex;
  gap: 20px;
  font-size: 24px;
}
.socialsContainer i {
  color: #23a6f0;
}
.footerLinksContainer {
  background-color: white;
}
.footerLinks {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 190px) 300px;
  padding: 50px 0;
}
.footerCol h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #252b42;
  padding-bottom: 20px;
}
.links li {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #737373;
  padding-bottom: 10px;
  list-style: none;
}
.contactForm input {
  border: 1px solid #e6e6e6;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.contactForm a {
  display: inline;
  background-color: #23a6f0;
  color: white;
  padding: 16px;
  margin-left: -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.contactForm input {
  padding: 10px;
  background-color: #f9f9f9;
}
.contactForm input::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}
.footerCol p {
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  color: #737373;
}
.madeInContainer {
  width: 70%;
  margin: auto;
  padding: 25px 0;
}
.madeInContainer p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #737373;
}
@media (max-width: 1250px) {
  .imagesContainer {
    width: 95%;
  }
  .productsContainer {
    width: 95%;
    grid-template-columns: repeat(3, auto);
    margin: auto;
  }
  .advertisingImage img {
    max-width: 350px;
    height: 500px;
  }
  .careSection {
    place-items: center;
  }
  .careImg img {
    max-width: 600px;
  }
  .footerLinks {
    width: 85%;
  }
}
@media (max-width: 1150px) {
  .footerLinks {
    grid-template-columns: repeat(4, 160px) 300px;
  }
}
@media (max-width: 1050px) {
  .contactBar {
    display: none;
  }
  .navbar {
    max-width: 100%;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    width: 500px;
  }
  .navbarContainer {
    margin-top: 20px;
    justify-content: space-between;
    height: auto;
  }
  .imagesContainer {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
  }
  .firstItem img {
    object-fit: cover;
  }
  .mainAdvertisement {
    gap: 15px;
  }
  .advertisingContent {
    text-align: center;
  }
  .mainPara {
    width: 80%;
    margin: auto;
  }
  .buttonContainer {
    flex-direction: column;
    gap: 15px;
  }
  .mainAdvertisement {
    flex-direction: column;
    padding: 10px 0;
  }
  .advertisingImage {
    order: 1;
  }
  .advertisingContent {
    order: 2;
  }
  .careSection {
    grid-template-columns: 1fr;
  }
  .careImg {
    padding-bottom: 15px;
  }
  .careContent {
    text-align: center;
  }
  .careContent h1 {
    font-size: 25px;
    line-height: 30px;
    padding: 10px 0;
  }
  .careContent p {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
  }
  .careButtonContainer .btn,
  .careButtonContainer .readMore {
    padding: 10px 30px;
  }
  .advertisingContent h1 {
    font-size: 40px;
    line-height: 50px;
    padding: 20px 0;
  }
  .mainPara p {
    padding-bottom: 15px;
  }
  .adNext {
    right: 8px;
  }
  .adPrev {
    left: 8px;
  }
  .footerLinks {
    grid-template-columns: repeat(3, 1fr);
  }
  .secondItem img {
    width: 500px;
    height: auto;
  }
  .thirdItem img {
    width: 500px;
  }
  .heroContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .heroContent h1 {
    font-size: 50px;
    padding: 15px 0;
    line-height: 60px;
  }
  .heroContent p {
    font-size: 25px;
    line-height: 30px;
  }
  .heroContent .btn {
    padding: 15px 25px;
    font-weight: 500;
    font-size: 20px;
  }
  .sliderButtons,
  .adSliderButtons {
    display: none;
  }
  .footerLinks {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 100%;
    place-items: center;
  }
  .madeInContainer {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .heroContent {
    padding: 0;
  }
  .productsContainer {
    grid-template-columns: repeat(2, auto);
  }
  .mainAdvertisement {
    flex-direction: column;
    text-align: center;
    padding: 50px 5%;
  }
  .mainPara p {
    text-align: center;
  }
  .buttonContainer {
    flex-direction: column;
    gap: 10px;
  }
  .advertisingImage img {
    max-width: 500px;
    height: auto;
  }
  .careImg img {
    width: 100%;
    height: auto;
  }
  .navLinks {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .navLinks li a {
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
  }
  .navLinks.active {
    display: flex;
  }
  .functionalities {
    padding-right: 20px;
  }
  .functionalities div i {
    font-size: 20px;
  }
  .navbar {
    width: 250px;
  }
  .userDetails span,
  .cart small,
  .likes small {
    display: none;
  }
  .navLinks li {
    padding: 10px 0;
  }
  .hamburger {
    display: block;
  }
  .navLinks.show {
    display: flex;
  }
  .heroContent h1 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 10px;
  }
  .heroContent p {
    font-size: 20px;
    line-height: 20px;
  }
  .tagline {
    width: auto;
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
  .firstItem img,
  .secondItem img {
    width: auto;
    height: auto;
  }
  .thirdItem img {
    width: 360px;
  }
  .footerLinks {
    grid-template-columns: 1fr;
  }
  .imagesContainer {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  .productsContainer {
    width: 100%;
    grid-template-columns: auto;
  }
  .advertisingContent {
    width: 90%;
    margin: auto;
  }
  .adNext {
    right: 5px;
    padding: 10px;
  }
  .adNext img,
  .adPrev img {
    width: 15px;
  }
  .adPrev {
    padding: 10px;
    left: 5px;
  }
  .careImg img {
    width: 300px;
  }
  .featuredPosts {
    width: 90%;
    margin: auto;
  }
  .featuredContent h3 {
    width: 90%;
  }
  .companyLine {
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .functionalities {
    padding-right: 0;
  }
}
@media (max-width: 450px) {
  .navbar {
    align-items: flex-end;
    padding-right: 15px;
  }
  .navbarLogo {
    padding: 0 0 0 10px;
  }
  .functionalities {
    align-items: flex-end;
    padding: 0;
    gap: 15px;
  }
  .heroContent h1 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  .heroContent p {
    font-size: 16px;
    line-height: 20px;
  }
  .prev,
  .next {
    padding: 5px;
  }
  .prev img,
  .next img {
    width: 20px;
  }
  .imagesContainer {
    margin: 0;
  }
  .imagesContainer .firstItem img,
  .imagesContainer .secondItem img {
    width: 90%;
  }
  .firstItem,
  .secondItem {
    width: 90%;
    margin: auto;
  }
  .thirdItem img {
    width: 300px;
  }
  .postImage {
    width: 100%;
  }
  .featuredContent h1 {
    font-size: 30px;
  }
  .advertisingContent h2 {
    font-size: 18px;
  }
  .mainHeading h1 {
    font-size: 28px;
  }
  .mainPara {
    max-width: 100%;
  }
  .buttonContainer p {
    font-size: 20px;
  }
  .advertisingImage img {
    max-width: 280px;
  }
  .adSliderBtn {
    width: 10px;
    height: 10px;
  }
  .careContent {
    width: 90%;
    margin: auto;
  }
  .careContent p {
    width: auto;
  }
  .careContent h1 {
    font-size: 20px;
    line-height: 20px;
  }
  .careButtonContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 10px;
    justify-content: center;
  }
  .careButtonContainer .btn {
    margin-right: 0;
  }
  .singlePostContainer {
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  .singlePostContainer img {
    max-width: 100%;
    height: auto;
  }
  .postContent p {
    width: 200px;
  }
}

@media (max-width: 300px) {
  .navbarLogo p {
    font-size: 20px;
  }
  .functionalities {
    gap: 10px;
  }
  .thirdItem img {
    width: 200px;
  }
}
