@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --primary-color: #252b42;
  --para-color: #737373;
}

.contactBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  width: 100%;
  height: 58px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 0 35px;
}

.contactInfo {
  display: flex;
  gap: 25px;
}

.followUs {
  display: flex;
  gap: 10px;
}

.socials i {
  padding: 0 5px;
  font-size: 16px;
}

.navbarContainer {
  display: flex;
  align-items: center;
  height: 60px;
}

.navbarLogo {
  padding: 30px;
}

.navbarLogo p {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  padding-right: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  position: relative;
}

.navLinks {
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  list-style: none;
  padding: 0 15px;
}

.navLinks li a {
  color: var(--para-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.functionalities {
  display: flex;
  align-items: center;
  text-align: center;
  color: #23a6f0;
  gap: 30px;
}

.functionalities i {
  font-size: 16px;
}

.userDetails span {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.cart small,
.likes small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.heroContainer {
  width: 100%;
  background: url("images/hero.jpeg");
  background-repeat: no-repeat;
  background-position: center calc(50% + 20px);
  background-size: cover;
  color: white;
  position: relative;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.heroContent {
  position: absolute;
  top: 30%;
  left: 15%;
}

.heroContent h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.heroContent h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  padding: 30px 0;
}

.tagline {
  width: 380px;
}

.heroContent p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  padding-bottom: 35px;
}

.heroContent .btn {
  display: inline-block;
  background: #2dc071;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 700;
}

.prev,
.next,
.adNext,
.adPrev {
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  font-size: 50px;
  padding: 40px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev,
.adPrev {
  left: 20px;
}

.next,
.adNext {
  right: 20px;
}

.sliderButtons,
.adSliderButtons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.sliderBtn,
.adSliderBtn {
  width: 50px;
  height: 10px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  background-color: #2dc071;
}

.categories {
  max-width: 100%;
  background: #fafafa;
}

.categoriesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 125px;
}

.categoriesContent h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--primary-color);
}

.categoriesContent p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--para-color);
}

.imagesContainer {
  width: 70%;
  margin: auto;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
}

.imagesContainer div {
  position: relative;
}

.firstItem img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.firstItem span {
  position: absolute;
  left: 30px;
  bottom: 50px;
  background-color: white;
  padding: 12px 65px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}

.secondItem img {
  object-fit: cover;
  width: 240px;
  height: 500px;
}

.secondItem span {
  position: absolute;
  bottom: 25px;
  left: 20px;
  padding: 12px 33.5px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}

.thirdItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thirdItem img {
  width: 240px;
  object-fit: cover;
  height: 240px;
}

.thirdItem span {
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}

.thirdItem .third {
  padding: 12px 26px;
  position: absolute;
  bottom: 300px;
  left: 20px;
}

.thirdItem .fourth {
  padding: 12px 40px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.featuredProducts {
  padding-top: 80px;
  text-align: center;
}

.featuredHeading h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--para-color);
}

.featuredHeading h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--primary-color);
  padding: 10px 0;
}

.featuredHeading p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--para-color);
}

.productsContainer {
  width: 70%;
  /* place-items: center; */
  margin: auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
}

.singleProduct {
  padding-top: 35px;
}

.singleProduct img {
  max-width: 240px;
  height: 430px;
}

.productInfo {
  padding-top: 25px;
}

.productInfo h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-color);
}

.productInfo h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 0;
  color: var(--para-color);
}

.productInfo p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #bdbdbd;
}

.productInfo span {
  color: #23856d;
}

.colorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 35px;
  gap: 5px;
}

.colorContainer div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.color1 {
  background-color: #23a6f0;
}

.color2 {
  background-color: #23856d;
}

.color3 {
  background-color: #e77c40;
}

.color4 {
  background-color: #252b42;
}

.mainAdvertisement {
  width: 100%;
  height: auto;
  background-color: #23856d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  padding-top: 112px;
  gap: 30px;
  transition: all 0.5s ease-in-out;
}

.mainHeading {
  width: 500px;
}

.mainHeading h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2;
  padding: 30px 0;
}

.advertisingContent h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.mainPara {
  width: 350px;
}

.mainPara p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 30px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 35px;
}

.buttonContainer p {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.buttonContainer .btn {
  padding: 15px 40px;
  background-color: #2dc071;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.advertisingImage img {
  width: 450px;
  height: 650px;
  object-fit: cover;
}

.careSection {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.careImg img {
  max-width: 750px;
  height: auto;
}

.careContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.careContent h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #bdbdbd;
}

.careContent h1 {
  font-size: 40px;
  width: 375px;
  font-weight: 700;
  line-height: 50px;
  color: var(--primary-color);
  padding: 15px 0;
}

.careContent p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  width: 400px;
  color: #737373;
  padding: 30px 0;
}

.careButtonContainer .btn {
  background: #2dc071;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.careButtonContainer .readMore {
  border: 1px solid #2dc071;
  color: #2dc071;
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  background-color: white;
}

@media (max-width: 1250px) {
  .imagesContainer {
    width: 95%;
  }
  .productsContainer {
    width: 95%;
    grid-template-columns: repeat(3, auto);
    margin: auto;
  }
}

@media (max-width: 1050px) {
  .contactBar {
    display: none;
  }
  .navbar {
    max-width: 100%;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    width: 500px;
  }
  .navbarContainer {
    margin-top: 20px;
    justify-content: space-between;
    height: auto;
  }
  .imagesContainer {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
  }
  .firstItem img {
    object-fit: cover;
  }
}
@media (max-width: 1000px) {
  .heroContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .heroContent h1 {
    font-size: 50px;
    padding: 15px 0;
    line-height: 60px;
  }
  .heroContent p {
    font-size: 25px;
    line-height: 30px;
  }
  .heroContent .btn {
    padding: 15px 25px;
    font-weight: 500;
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .heroContent {
    padding: 0;
  }
  .productsContainer {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 700px) {
  .navLinks {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .functionalities {
    padding-right: 20px;
  }

  .functionalities div i {
    font-size: 20px;
  }

  .navbar {
    width: 250px;
  }

  .userDetails span,
  .cart small,
  .likes small {
    display: none;
  }

  .navLinks li {
    padding: 10px 0;
  }

  .hamburger {
    display: block;
  }

  .navLinks.show {
    display: flex;
  }

  .heroContent h1 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 10px;
  }
  .heroContent p {
    font-size: 20px;
    line-height: 20px;
  }
  .tagline {
    width: auto;
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
  .firstItem img {
    width: auto;
    height: auto;
  }
}
@media (max-width: 550px) {
  .productsContainer {
    width: 100%;
    grid-template-columns: auto;
  }
}

@media (max-width: 450px) {
  .navbar {
    align-items: flex-end;
    padding-right: 15px;
  }
  .navbarLogo {
    padding: 0 0 0 10px;
  }
  .navbarLogo p {
    padding: 0;
  }
  .functionalities {
    align-items: flex-end;
    padding: 0;
    gap: 15px;
  }
  .heroContent h1 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  .heroContent p {
    font-size: 16px;
    line-height: 20px;
  }
  .tagline {
    width: auto;
  }
  .prev {
    left: 5px;
  }
  .next {
    right: 5px;
  }
}

@media (max-width: 300px) {
  .navbarLogo p {
    font-size: 20px;
  }
  .functionalities {
    gap: 10px;
  }
}
